<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<div *ngFor="let emp of allEmployees | async">
  <p>
    {{ emp.empname }} <span> | </span>
    <span (click)="edit(emp._id)"> Edit </span> <span> | </span>
    <span (click)="delete(emp._id)"> Delete </span>
  </p>
</div>

<div class="form-content">
  <p>ID <input type="text" id="empid" [(ngModel)]="frmEmp.empid" /></p>
  <p>Name <input type="text" id="empname" [(ngModel)]="frmEmp.empname" /></p>
  <p>
    Skillset
    <input type="text" id="empskillset" [(ngModel)]="frmEmp.empskillset" />
  </p>
  <p><button (click)="save()">Save</button></p>
  {{ frmEmp | json }}
  {{ strStatus }}
</div>
